/* Base text */

body p {
  font-family: "Segoe UI", sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}

body h2 {
  font-weight: 600;
  color: #8A9A5B;
  margin-top: 30px;
  padding-bottom: 5px;
}

body h3 {
  font-weight: 300;
  color: #8A9A5B;
  margin-top: 20px;
  padding-bottom: 5px;
}

.nav-tabs .nav-link {
  color: #000000;
}

.nav-tabs .nav-link:hover {
  color: #7565A4;
}

.nav-tabs .nav-link.active {
  color: #7565A4;
  font-weight: 600;
}

.shiny-plot-output {
  transition: all 1s ease;
}

.tooltip {
  position: relative;
  cursor: help;
  border-bottom: 1px dotted #555;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover {
  color: #7565A4;
}

.eq-term {
  padding: 4px 6px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.eq-term:hover {
  background-color: #e3f2fd;
  color: #7565A4;
  cursor: pointer;
}

pre {
  background-color: #f6f8fa;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
}

code {
  font-family: monospace;
  font-size: 14px;
  padding-bottom: 5px;
}